Library
Temp
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
